@import url(../../vendor/tailwindcss/tailwind.css);

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.preload-wrapper, .spinner-layer {
  will-change: transform, opacity !important;
}

.ifl-loading-spinner {
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 50%;
  border: 5px solid #e4e2e0;
  border-top: 5px solid #2557a7;
  animation: spin 1s linear infinite;
  margin: 0 auto 0.75rem auto;
}

#IRX_bus {
  display: none !important;
  position: fixed !important;
  width: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  visibility: hidden !important;
  border: none !important;
  outline: none !important;
}

html {
  font-family: 'Noto Sans', Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,sans-serif;
}

body {
  width: 440px;
  height: 600px;
  min-height: 600px;
  max-height: 600px;
  overflow: hidden;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 242, 241, var(--tw-bg-opacity));
  flex-direction: column;
  justify-content: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 16px;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background: #2557a7;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.error {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error img {
  width: 150px;
  margin: 0 0 30px;
}

.error h1 {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}

.error p {
  max-width: 440px;
  padding: 0 50px;
  font-size: 16px;
  line-height: 20px;
  margin: 5px 0;
  text-align: center;
}

.error .button {
  margin-top: 30px;
}
