$primary_blue: #4a8cc6;
$primary_blue_light: #a5c5e3;
$secondary_blue: #79c4eb;
$secondary_blue_light: #bbe0f2;

$main_gray: #818689;
$black: #010101;

$main_green: #1fba35;
$main_red: #da502b;
$main_purple: #52425f;
$main_brown: #887f6b;
$main_teal: #26a69a;
$main_orange: #ed9023;
$main_yellow: #fff15c;
$main_blue: #2680a6;
$main_bluegrey: #78909c;

$bluegrey_dim: #90a9b6;
$red_dim: #dd7d64;
$yellow_dim: #fffde8;
$green_dim: #59df6c;
$purple_dim: #af91c7;
$orange_dim: #fce492;
$blue_dim: #e8e4fe;

$blue_dimmest: #f4f2ff;
$yellow_dimmest: #fefdf6;
$red_dimmest: #f6b9a9; 
$purple_dimmest: #ccbbda;
$green_dimmest: #aff8b9;
$bluegrey_dimmest: #90a9b6;

$orange_dark: #ca904c;
$brown_dark: #625d51;

$barely_gray: #f9f9f9;
$gray0: #f2f2f2;
$gray1: #d3d3d3;
$gray2: #b8b7b7;
$gray3: #b8b7b7;
$dark_gray: #474747;