#IRX_bus{
    display: none !important;
    position: fixed !important;
    width: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    visibility: hidden !important;
    border: none !important;
    outline: none !important;
}
