<b>Candidate Link:</b> <a href="{{ candidate_short_url }}">{{ candidate_short_url }}</a>
<BR>
<BR>
<b>Interviewer Link:</b> <a href="{{ lobby_url }}">{{ lobby_url }}</a><BR>
<BR>
If prompted, please click <b>Sign in with Google</b> using your Indeed email.<BR>
<BR>
By continuing, you agree to our <a href="https://www.google.com/url?q=https://www.indeed.com/legal?hl%3Den%26redirect%3Dtrue&sa=D&source=calendar&ust=1658677891022427&usg=AOvVaw2dZubGD7zsh0TGr7KuSvE5">Terms, Cookies, & Privacy Policies</a>.<BR>
<BR>
<a href="https://docs.google.com/document/d/1jzw91URwJHIdTRinfuTZxObNTXOg8CUzN7nLnhFTIOo">Joining Instructions</a>.<BR>
<BR>
